# This is a template file containing the variables needed to run
# this repo. Create a copy of this called .env, uncomment the
# variables and set their values.

# Azure remote storage config.
# BLOB_STORAGE_CONNECTION_STRING=
# BLOB_STORAGE_CONTAINER_NAME=

# Wandb config.
# WANDB_API_KEY=
# WANDB_ENTITY=
# WANDB_PROJECT=
