[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "~=2.8"
datasets = "~=3.5"
pytest = "~=8.3"
tokenizers = "~=0.21"
azure-storage-blob = "~=12.25"
pytest-mock = "~=3.14"
wandb = "~=0.20"
numpy = "~=2.3"
tomli = "~=2.4"
pytest-asyncio = "~=1.1"
pyyaml = "~=6.0"
torchvision = "~=0.23"
python-dotenv = "*"

[dev-packages]
jupyter = "*"
jupyterlab = "*"
ruff = "*"
coverage = "*"
pre-commit = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = {extras = ["python"], version = "*"}
mkdocs-gen-files = "*"
mkdocs-literate-nav = "*"
mkdocs-section-index = "*"
mkdocs-autorefs = "*"

[scripts]
docs = "mkdocs serve --watch lumiere/"

[requires]
python_version = "3.12"
