[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "~=2.8"
datasets = "~=3.5"
pytest = "~=8.3"
tokenizers = "~=0.21"
azure-storage-blob = "~=12.25"
pytest-mock = "~=3.14"
wandb = "~=0.20"
numpy = "~=2.3"

[dev-packages]
jupyter = "*"
jupyterlab = "*"
ruff = "*"
coverage = "*"

[requires]
python_version = "3.12"
