# The argument tree, a hirearchy of initialization arguments for each component with the
# top level name.

runs:
  checkpoints:
    sources:
      - filesystem
      - azure-blob
    destinations:
      - filesystem
      - azure-blob

storage:
  clients:
    filesystem:
      basedir: ./runs

model:
  vocab_size: 4096
  context_size: 64
  embedding_size: 128
  num_blocks: 4
  embedding:
    type: embedding
    name: sinusoidal
    padding_id: 0
  block:
    type: block
    name: standard
    attention:
      type: attention
      name: multihead
      num_heads: 4
      d_key: 32
      d_value: 32
    feedforward:
      type: feedforward
      name: linear
      d_ff: 256
    normalization:
      type: normalization
      name: rms
      normalized_shape: 128
    dropout: 0.1
    pre_norm: True
    post_norm: False
  normalization:
    type: normalization
    name: rms
    normalized_shape: 128

data:
  datasets:
    - name: wikitext

tokenizer:
  name: bpe
  vocab_size: 4096
  min_frequency: 2

pipeline:
  name: text
  tokenizer: "@tokenizer"
  batch_size: 32
  context_size: 64
  pad_id: 2
  sliding_window_size: 8
  preprocessors:
    - name: autoregressive
      device: mps

optimizer:
  name: adamw
  lr: 0.0003
  weight_decay: 0.01

scheduler:
  name: cosine-annealing
  warmup_steps: 500
  max_epochs: 250
  epoch_steps: 2000

training:
  max_epochs: 250
  stopping_threshold: 0.0001
  patience: 5
  gradient_clip_norm: 1.0

logging:
  interval: 50
